<!DOCTYPE html>
<html lang="en-us">

<!-- Start Head of Document -->

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">

  <!-- TAB -->
  <link rel="icon" href="/images/favicon.ico">
  <title>Meme Scraper</title>

</head>

<!-- Start Body of Document -->

<body>
  <div class="main">
    <nav>
      <h1 id="homeBtn">Meme Scraper</h1>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </div>
</body>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/logic.js"></script>

</html>