<br>
<div class="btn btn-danger" id="genBtn">Generate Hot New Reddit Memes</div>
<br>
<br>
<div class="btn btn-primary backBtn">Back to first page</div>
<div id="pageBtns">
    <div class="btn btn-light prevBtn"><</div>
    <div class="btn btn-light pageBtn"></div>
    <div class="btn btn-light nextBtn">></div>
</div>
<br>
<div id="main">
    <div id="memes"></div>
</div>
<div class="btn btn-primary backBtn">Back to first page</div>
<div id="pageBtns">
    <div class="btn btn-light prevBtn"><</div>
    <div class="btn btn-light pageBtn"></div>
    <div class="btn btn-light nextBtn">></div>
</div>
<br>
<br>