* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    color: #fff;
    background: #323232;
}

nav {
    background: #161616;
}
.navBar {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.navBar div {
    display: inline-block;
    margin: 24px;
    cursor: pointer;
}
.navBar h1 {
    display: inline-block;
    margin: 24px;
    cursor: pointer;
}